.App {
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: lightgray;
  display: flex;
}

.App>aside {
  background-color: #282c34;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App>aside li {
  list-style: none;
}

.App>main {
  flex-grow: 1;
  overflow-y: auto;
}

.App>main>header {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.App>main>.container {
  padding: 1rem;
  min-height: 50rem;
}